.rangeSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  color: #fff;
  align-self: stretch;
  padding: 0 .5rem
}

.sliderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #1f1f1f;
  box-shadow: inset 3px 3px 5px #000,1px 1px 1px #333;
  cursor: pointer;
  outline: none;
  /* opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s; */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  position: relative;
}

.sliderTrack {
  width: 0;
  height: .4rem;
  border-radius: 5px;
  background: linear-gradient(90deg, #2ecc71, #3498db);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  pointer-events: none;
  transition-property: box-shadow;
  transition-duration: .2s;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderThumb {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  top: 50%;
  left: -.5rem;
  z-index: 2;
  transform: translateY(-50%);
  pointer-events: none;
}

.sliderValues {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numberInput {
  background: none;
  color: #fff;
  width: 4rem;
  padding: .3rem .5rem;
  border: .5px #2ecc71 solid;
  border-radius: 12px;
}

.rangeSlider:hover .sliderTrack {
  box-shadow: 0 0 1rem #2ecc71;
}
