.rootContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #1f291f;
	width: 100vw;
	color: #fff;
}

.uploadContainer {
	margin: 2rem;
	width: 35%;
}

.dropBox {
	position: relative;
	display: flex;
	gap: 10px;
	height: 200px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	border: 2px dashed #555;
	color: #c4c4c4;
	cursor: pointer;
	transition: background 0.2s ease-in-out, border 0.2s ease-in-out;

	&:hover {
		background: #323232;
		border-color: #2ecc71;
	}
}

.uploadTitle {
	color: #e7e7e7;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	transition: color 0.2s ease-in-out;
}

.inputFile {
	width: 350px;
	max-width: 100%;
	color: #fff;
	font-size: 1.3rem;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #555;

	&::file-selector-button {
		background: #2ecc71;
		color: #fff;
		padding: 10px 20px;
		border-radius: 10px;
		border: none;
		cursor: pointer;
		transition: background 0.2s ease-in-out;
	}

	&::file-selector-button:hover {
		background: #27ae60;
	}
}

.title {
	width: 50%;
	text-align: center;
	font-size: 3.5rem;
	text-transform: capitalize;
	margin-bottom: 1rem;
}

.nextButton {
  display: inline-block;
  width: 96px;
  height: 96px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m13.061 4.939l-2.122 2.122L15.879 12l-4.94 4.939l2.122 2.122L20.121 12z'/%3E%3Cpath fill='%23000' d='M6.061 19.061L13.121 12l-7.06-7.061l-2.122 2.122L8.879 12l-4.94 4.939z'/%3E%3C/svg%3E");
  background-color: #27ae60;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.nextButton:hover {
	background-color: #2ecc71;
}

.nextButton:disabled {
	background-color: #828282;
	cursor: not-allowed;
}


.subtitle {
	width: 50%;
	text-align: center;
	font-size: 2rem;
	text-transform: capitalize;
	margin: 0;
	color: #828682;
	font-weight: 500;
}

.editButton {
  display: inline-block;
  width: 48px;
  height: 48px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4m-8-2l8-8m0 0v5m0-5h-5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.editButton:hover {
	background-color: #2ecc71;
}